@page
@model Portfolio.Pages.CMS.Certificates.ToDoListModel
@{
    ViewData["Title"] = "To Do List";
}

    <div class="container">
        <div class="title-container mt-3">
            <h1 class="title text-center pt-0">To Do List</h1>
        </div>
        <div class="d-flex justify-content-end">
            <a class="icon-color mb-2" asp-page="./EditToDo"><i class="far fa-plus-square fa-2x"></i></a>
        </div>
        <table class="table">
            <tr class="bg-th">
                <th>Course Name</th>
                <th class="text-center">Category</th>
                <th class="text-center">Skill</th>
                <th class="text-center">Edit</th>
            </tr>

            @foreach (var todoitem in Model.CoursesToDo)
            {
                <tr>
                    <td class="w60">@todoitem.CourseName</td>
                    <td class="w10 text-center">@todoitem.CourseCategories</td>
                    <td class="w20 text-center">@todoitem.Skill.SkillName</td>
                    <td class="w10 text-center"><a class="icon-color" asp-page="./EditToDo" asp-route-courseId="@todoitem.Id"><i class="far fa-edit fa-sm"></i></a></td>
                </tr>
            }

        </table>
        <div class="title-container mt-3">
            <h1 class="title text-center pt-0">Courses Done</h1>
        </div>
        <div class="d-flex justify-content-end">
            <a class="icon-color mb-2" asp-page="./EditToDo"><i class="far fa-plus-square fa-2x"></i></a>
        </div>
        <table class="table">
            <tr class="bg-th">
                <th>Course Name</th>
                <th class="text-center">Category</th>
                <th class="text-center">Skill</th>
                <th class="text-center">Date Completed</th>
            </tr>

            @foreach (var todoitem in Model.CoursesDone)
            {
        <tr>
            <td class="w60">@todoitem.CourseName</td>

            <td class="w10 text-center">@todoitem.CourseCategories</td>
            <td class="w20 text-center">@todoitem.Skill.SkillName</td>
            <td class="w10">@todoitem.DateCompleted.ToShortDateString()</td>
        </tr>
            }

        </table>
    </div>


