@page
@model Portfolio.Pages.CMS.Contacts.ContactListModel
@{
    ViewData["Title"] = "ContactList";
}


<h1>ContactList</h1>


<table class="table custom-table">

    @foreach (var contact in Model.Contacts)
    {
    <tr>
        <td class="table-column-width-lg">@contact.ContactFirstName @contact.ContactLastName</td>
        <td class="table-column-width-lg">@contact.ContactEmailAddress</td>
        <td class="table-column-width-md">@contact.ContactOption</td>
        <td class="table-column-width-md">@contact.ContactType</td>
        <td class="table-column-width-sm"><a 
                                             data-email="@contact.ContactEmailAddress" 
                                             data-lastname="@contact.ContactLastName"
                                             data-toggle="modal" data-target="#replyModal" class="openReplyModal"><i class="fas fa-reply fa-sm"></i></a></td>
    </tr>
    }
</table>

<div class="modal" tabindex="-1" role="dialog" id="replyModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" asp-for="@Model.Contact.Id" />
                    <div class="form-group">
                        <label>To</label>
                        <input asp-for="@Model.Contact.ContactEmailAddress" id="contactEmail" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <input  class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on("click", ".openReplyModal", function () {
            var myContactEmail = $(this).data('email');
            var myContactLastName = $(this).data('lastname');
            $(".modal-body #contactEmail").val(myContactEmail);
            $(".modal-body #contactLastName").val(myContactLastName);
        });
    </script>
}