@page
@model Portfolio.ProjectsMainModel
@{
    ViewData["Title"] = "My Projects";
}

    <div class="container">
        <div class="title-container mt-3">
            <h1 class="title text-center p-2">Projects</h1>
        </div>
        <div>
            <h2 class="subtitleh2 pt-0">Personal Projects</h2>

            @foreach (var tag in Model.Tags)
            {
        <div class="border border-dark mb-3">
            <div class="d-flex">
                <div class="p-3 projectthumb">
                    <img class="img-fluid" src="~/images/@tag.PersonalProject.ProjectThumb" />
                </div>
                <div class="d-flex flex-column p-3">
                    <div>
                        <h4>@tag.PersonalProject.ProjectName</h4>
                    </div>
                    <p>@tag.PersonalProject.ProjectDescription</p>
                    <div class="d-flex justify-content-end align-content-end">
                        <a href="@tag.PersonalProject..CodeLink"><i class="fab fa-github"></i>View on GitHub</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                @foreach (var label in @Portfolio.Utility.EnumHelper<Portfolio.Core.ProjectTag>.GetValues(Portfolio.Core.ProjectTag.CSharp))

                {
                    if (label == tag.Tag1 && label != Core.ProjectTag.PickOne)
                    {
                        var desc = Portfolio.Utility.EnumHelper<Portfolio.Core.ProjectTag>.GetDisplayValue(label);
                        <div class="badge badge-info p-2 mr-2 mb-2">@Html.DisplayFor(e => desc)</div>
                    }
                    if (label == tag.Tag2 && label != Core.ProjectTag.PickOne)
                    {
                        var desc = Portfolio.Utility.EnumHelper<Portfolio.Core.ProjectTag>.GetDisplayValue(label);
                        <div class="badge badge-info p-2 mr-2 mb-2">@Html.DisplayFor(e => desc)</div>
                    }
                    if (label == tag.Tag3 && label != Core.ProjectTag.PickOne)
                    {
                        var desc = Portfolio.Utility.EnumHelper<Portfolio.Core.ProjectTag>.GetDisplayValue(label);
                        <div class="badge badge-info p-2 mr-2 mb-2">@Html.DisplayFor(e => desc)</div>
                    }
                    if (label == tag.Tag4 && label != Core.ProjectTag.PickOne)
                    {
                        var desc = Portfolio.Utility.EnumHelper<Portfolio.Core.ProjectTag>.GetDisplayValue(label);
                        <div class="badge badge-info p-2 mr-2 mb-2">@Html.DisplayFor(e => desc)</div>
                    }
                    if (label == tag.Tag5 && label != Core.ProjectTag.PickOne)
                    {
                        var desc = Portfolio.Utility.EnumHelper<Portfolio.Core.ProjectTag>.GetDisplayValue(label);
                        <div class="badge badge-info p-2 mr-2 mb-2">@Html.DisplayFor(e => desc)</div>
                    }

                }
            </div>
        </div>
                    }





                <h2 class="subtitleh2 pt-0">FreeCodeCamp Projects</h2>
                <h3 class="subtitleh3">Responsive Web Design</h3>
            </div>
            </div>
