@page
@model Portfolio.Pages.Skills.SkillDetailModel
@{
    ViewData["Title"] = "SkillDetail";
}

@if(Model.Message != null)
{
    <div class="alert alert-success" id="alert">@Model.Message</div>
}
<div class="container mt-3">
    <div class="title-container">
        <h1 class="text-center title pt-0">@Model.Skill.SkillName Details</h1>
    </div>
    <div class="d-flex flex-row">
        <img class="img-fluid p-3 detail-img" src="~/images/@Model.Skill.LogoFilePath" />
        <p class="p-3">@Model.Skill.SkillDescription</p>
    </div>
    <h2 class="subtitleh2">PluralSight</h2>
    <div class="d-flex flex-row">
        <div>
            <img src="~/images/@Model.Skill.PsChartFilePath" />
            <p>@Model.Skill.PsDescription</p>
        </div>
        <div class="d-flex flex-row">
            <p>@Model.Skill.PsSkillIqScore / 300</p>
            <p>@Model.Skill.PsSkillLevel</p>
        </div>

    </div>
    <h3>Certificates</h3>
    @foreach (var certificates in Model.Certificates)
    {
        <table class="table">
            <tr>
                <td>@certificates.CertificateName</td>
                <td><a asp-page="/Certificates/CertificateDetail" asp-route-certificateId="@certificates.Id"><i class="fas fa-info-circle fa-sm"></i></a></td>
                <td><a asp-page="/Certificates/Certificate" asp-route-certificateId="@certificates.Id" target="_blank"><i class="fas fa-award fa-sm"></i></a></td>
            </tr>
        </table>
    }

    <a class="btn btn-outline-primary" asp-page="./SkillsMain">Back To List</a>
</div>