@page
@model Portfolio.Pages.Skills.SkillDetailModel
@{
    ViewData["Title"] = "SkillDetail";
}

@if(Model.Message != null)
{
    <div class="alert alert-success" id="alert">@Model.Message</div>
}

<img src="~/images/@Model.Skill.LogoFilePath" />
<h1>@Model.Skill.SkillName Details</h1>
<p>@Model.Skill.SkillDescription</p>
<h2>PluralSight</h2>
<p>@Model.Skill.PsDescription</p>
<p>@Model.Skill.PsSkillIqScore / 300</p>
<p>@Model.Skill.PsSkillLevel</p>
<img src="~/images/@Model.Skill.PsChartFilePath" />
<h3>Certificates</h3>
@foreach (var certificates in Model.Certificates)
{
    <table class="table">
        <tr>
            <td>@certificates.CertificateName</td>
            <td><a asp-page="./Certificates/CertificateDetail"><i class="fas fa-info-circle fa-sm"></i></a></td>
        </tr>
    </table>
}

<a class="btn btn-outline-primary" asp-page="./SkillsMain">Back To List</a>