<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom bg-white navbar-light box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand navbar-brand-font text-uppercase" asp-area="" asp-page="/Index">samuel ketels</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mr-auto">
                    <ul class="nav navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item pr-3">
                            <a is-active-route class="nav-link text-dark" asp-area="" asp-page="/Index">home</a>
                        </li>
                        <li class="nav-item pr-3">
                            <a is-active-route class="nav-link text-dark" asp-area="" asp-page="/Skills/SkillsMain">skills</a>
                        </li>
                        <li class="nav-item pr-3">
                            <a is-active-route class="nav-link text-dark" asp-area="" asp-page="/Projects/ProjectsMain">projects</a>
                        </li>
                        <li class="nav-item pr-3">
                            <a is-active-route class="nav-link text-dark" asp-area="" asp-page="/AboutMe">about me</a>
                        </li>
                        <li class="nav-item pr-3">
                            <a is-active-route class="nav-link text-dark" asp-area="" asp-page="/Contact">contact</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item pr-3">
                                <a is-active-route class="nav-link text-dark" asp-area="" asp-page="/CMS/MainMenu">cms</a>
                            </li>

                            <li class="nav-item pr-3">
                                <form class="form-inline" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                                    <input class="btn logout-btn" value="logout @User.Identity.Name " type="submit" />
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item pr-3">
                                <a is-active-route class="nav-link text-dark font-weight-bold text-uppercase" asp-area="" asp-page="/Account/Login">login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container-fluid pl-3">
            &copy; 2020 - Samuel Ketels
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
